@model LobbyFormViewModel

@{
    Layout = "_Layout";
}

<link rel="stylesheet" href="/css/lobby.css">

<div class="page-content ps-5 pt-5">
    <ul class="lobby-creation-nav">
        <h1 class="pb-4">Категории</h1>
        <li>
            <a href="@Url.Action("NewLobby", "LobbyConstructor")">Игра</a>
        </li>
        <li>
            <a href="@Url.Action("NewCharacter", "LobbyConstructor")">Персонажи</a>
        </li>
        <li>
            <a href="@Url.Action("NewEnemy", "LobbyConstructor")">Враги</a>
        </li>
        <li>
            <a href="@Url.Action("NewGameItem", "LobbyConstructor")">Предметы</a>
        </li>
    </ul>

    <div class="lobby-creation-content">
        @Html.Partial("Partial/NewLobby", Model)
    </div>
</div>