@model LobbyFormViewModel

<div class="container">
    @using (Html.BeginForm("CreateLobby", "Lobby", FormMethod.Post,
                new {@class = "card"}))
    {
        <div class="card-body p-5 text-center">
            <div class="header mb-3">
                <span class="error-span">@ViewData["Alert"]</span>
            </div>
            <div class="form-outline mb-4">
                @Html.LabelFor(m => m.Name, new {@class = "form-label"})
                @Html.TextBoxFor(m => m.Name, new {@class = "form-control-lg input-field"})
            </div>
            <div class="form-outline mb-4">
                @Html.LabelFor(m => m.MaxPlayers, new {@class = "form-label"})
                @Html.TextBoxFor(m => m.MaxPlayers,
                    new {@class = "form-control-lg input-field"})
            </div>
            <button class="ps-5 pe-5" type="submit">Создать лобби</button>
        </div>
    }
</div>