@model AuthService.Models.LoginModel

<link rel="stylesheet" href="~/css/auth.css" asp-append-version="true"/>

<div class="container h-100">
    <div class="row justify-content-center align-items-center h-100">
        @using (Html.BeginForm("SignIn", "Account", FormMethod.Post,
                    new {@class = "card auth-form"}))
        {
            <div class="card-body p-5 text-center">

                <div class="header mb-3">
                    <h3>Добро пожаловать!</h3>
                    <span class="error-span">@ViewData["Alert"]</span>
                </div>

                <div class="form-outline mb-4">
                    @Html.LabelFor(m => m.Name, new {@class = "form-label"})
                    @Html.TextBoxFor(m => m.Name, new {@class = "form-control-lg input-field"})
                </div>

                <div class="form-outline mb-4">
                    @Html.LabelFor(m => m.Password, new {@class = "form-label"})
                    @Html.TextBoxFor(m => m.Password, 
        new {@class = "form-control-lg input-field", type="password" })
                </div>

                <!-- Checkbox -->
                <div class="form-check d-flex justify-content-start mb-4">
                    @Html.CheckBoxFor(m => m.RememberMe, new {@class = "form-check-input me-2"})
                    @Html.LabelFor(m => m.RememberMe, new {@class = "form-check-label"})
                </div>

                <button class="ps-5 pe-5 btn" type="submit">Войти</button>

                <hr class="my-4">
                <div class="">
                    <p>Нет аккаунта? <a href="@Url.Action("SignUp", "Account")">Зарегистрироваться</a></p>
                </div>
            </div>
        }
    </div>
</div>