@model List<EnemyViewModel>

@{
    var defaultImgPath = "Content/Enemies/default.png";
}

<div class="lobby-creation-item-container">
    @foreach (var item in Model)
    {
        <div class="lobby-creation-item card3d">
            <div class="lobby-creation-item-name">
                <label for="@item.Name"></label>
                <p>@item.Name</p>
            </div>

            <div class="lobby-creation-item-file">
                <label for="@item.File"></label>
                <img src="@(Url.Content(item.FilePath) ?? defaultImgPath)" alt="img"/>
            </div>

            <div class="lobby-creation-item-desc">
                <p>@item.Description</p>
                <span validation-for="Description"></span>
            </div>

            <button class="btn btn-primary">Редактировать</button>
        </div>
    }

    <div class="lobby-creation-item card3d">
        <div class="lobby-creation-item-name">
            <label for="item.Name"></label>
            <p>item.Name</p>
        </div>

        <div class="lobby-creation-item-file">
            <label for="item.File"></label>
            <img src="@(Url.Content(defaultImgPath))" alt="img"/>
        </div>

        <div class="lobby-creation-item-desc">
            <p>item.Description</p>
            <span validation-for="Description"></span>
        </div>

        <button class="btn btn-primary">Редактировать</button>
    </div>

    <div class="lobby-creation-item lobby-creation-new-item card">
        <div class="lobby-creation-item-name">
            <label>Имя персонажа</label>
            <input type="text" name="Name"/>
            <span validation-for="Name"></span>
        </div>

        <div class="lobby-creation-item-file">
            <label for="File"></label>
            <input type="file" name="File"/>
            <span validation-for="File"></span>
        </div>

        <div class="lobby-creation-item-desc">
            <label for="Description"></label>
            <input type="text" name="Description"/>
            <span validation-for="Description"></span>
        </div>

        <button class="btn btn-primary" type="submit">Сохранить</button>
    </div>
</div>

<script src="~/js/lobbyConstructor.js"></script>
<script> 
    handleCard3d(2);
    let imgs = document.querySelectorAll("img");
    
    imgs.forEach(img => {
        img.onerror = function() {
            img.src = '@defaultImgPath';
        }
    });
</script>