@model List<GameItemViewModel>

<h2>Create GameItem</h2>

<div class="lobby-creation-item-container">
    @foreach (var item in Model)
    {
        <div class="lobby-creation-item card3d">
            <div class="lobby-creation-item-name">
                <label for="@item.Name"></label>
                <p>@item.Name</p>
            </div>

            <div class="lobby-creation-item-desc">
                <label for="Description"></label>
                <p>@item.Description</p>
                <span validation-for="Description"></span>
            </div>

            <div class="lobby-creation-item-file">
                <label for="@item.File"></label>
                <img src="@Url.Content(item.FilePath)" alt="img"/>
            </div>

            <button class="btn btn-primary">Редактировать</button>
        </div>
    }

    <form class="lobby-creation-item" method="post" enctype="multipart/form-data" asp-action="NewGameItem">
        <div class="lobby-creation-item-name">
            <label for="Name"></label>
            <input type="text" name="Name"/>
            <span validation-for="Name"></span>
        </div>

        <div class="lobby-creation-item-desc">
            <label for="Description"></label>
            <input type="text" name="Description"/>
            <span validation-for="Description"></span>
        </div>

        <div class="lobby-creation-item-file">
            <label for="File"></label>
            <input type="file" name="File"/>
            <span validation-for="File"></span>
        </div>

        <button class="btn btn-primary" type="submit">Сохранить</button>
    </form>
</div>

<script src="~/js/lobbyConstructor.js"></script>
<script> 
let imgs = document.querySelectorAll("img");
imgs.forEach(img => {
    img.onerror = function() {
        img.src = "Content/GameItem/default.png";
    }
});
</script>