@model DndOnline.DataAccess.Objects.Lobby

@{
    Layout = "_LobbyLayout";
}

<div class="container-width">
    @if (Model != null)
    {
        <h1>Название - @Model.Name</h1>
        <h1>Ведущий - @Model.MasterId</h1>
        <h1>Статус - @Model.Status.Name</h1>
        <h1>Макс кол-во игроков @Model.MaxPlayers</h1>
        <h1>Игроки:</h1>
        <ul id="player_list">
            @foreach (var item in Model.Players)
            {
                <li>@item.Name</li>
            }
        </ul>
    }

</div>