@model DndOnline.DataAccess.Objects.Lobby

@{
    Layout = "_LobbyLayout";
}

<div class="top">
    <div class="left tabs">
        @foreach (var item in Model.Scenes)
        {
            var selected = item.Id == ViewBag.LastPlayed ? "selected" : "";

            <div class="tab nav-scene @selected" data-id="@item.Id">
                <p>
                    @(item.Name.Length > 20 ? item.Name.Substring(0, 20) : item.Name)
                </p>
            </div>
        }
        <div id="add-scene" class="tab" title="Добавить сцену">
            <span class="plus"></span>
        </div>
    </div>
    <div class="right">
        <a class="export-scene" title="Сохранить текущую сцену">
            <img src="/img/export.png"/>
        </a>
        <a class="exit float-end" href="/" title="Выйти">
            <img src="/img/logout.png"/>
        </a>
    </div>
</div>

<div class="container">
    <div class="game"></div>

    <div class="tools">
        <ul class="list">
            <ul id="player_list" class="list-item">
                <div class="list-header"><span class="minus"></span> Игроки </div>
                <div class="list-body">
                    @foreach (var player in Model.Players)
                    {
                        <li class="list-item-child">@player.Name</li>
                    }
                </div>
            </ul>
            <ul class="list-item">
                <div class="list-header"><span class="minus"></span> Токены </div>
                <div class="list-body">
                    @foreach (var token in ViewBag.Tokens as List<EntityViewModel> ?? new List<EntityViewModel>())
                    {
                        <li class="list-item-child list-item-child_transportable" draggable="true" data-src="@token.FilePath">@token.Name</li>
                    }
                </div>
            </ul>
            <ul class="list-item">
                <div class="list-header"><span class="minus"></span> Карты </div>
                <div class="list-body">
                    @foreach (var map in ViewBag.Maps as List<MapViewModel> ?? new List<MapViewModel>())
                    {
                        <li class="list-item-child list-item-child_transportable" draggable="true" data-src="@map.FilePath">@map.Name</li>
                    }
                </div>
            </ul>
        </ul>
    </div>
</div>

<script src="~/js/lobbyMaster.js"></script>